body {
    background-color: #e7eff6;
    margin: 0;
    font-family: "Noto Kufi Arabic", sans-serif;
    direction: rtl;
    color: black;
}

.personal-info {
    background-color: #d3d3d3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 20%;
    max-width: 100%;
    max-height: max-content;
    position: static;
    right: 0;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list-btn,
.logout-btn {
    font-family: "Noto Kufi Arabic", sans-serif;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
}

.list-btn {
    width: 100%;
    background-color: #e0e0e0;
    color: #333;
}

.list-btn:hover {
    background-color: #c7c7c7;
    color: blue;
}

.logout-btn {
    width: 50%;
    background-color: #ff6347;
    color: white;
    text-align: center;
}

.logout-btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.dash {
    background-color: blue;
    height: 2px;
    width: 100%;
    margin: 20px 0;
    opacity: 0.3;
}

.fas.fa-user {
    font-size: 4em;
    color: #777;
    margin-bottom: 20px;
}

.fas.fa-calendar-check,
.fas.fa-user-md,
.fas.fa-table,
.fas.fa-info-circle {
    text-align: right;
}

.appointment-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 15%;
    height: 60px;
    font-size: 16px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Kufi Arabic", sans-serif;
}

.appointment-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

header {
    width: 100%;
    height: 10vh;
    background-color: #345cc4;
}

header img {
    height: 9vh;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 3px;
}

.date-time {
    position: fixed;
    left: 20px;
    top: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #099df2;
    padding: 10px;
    border-radius: 25px;
    text-align: right;
}

.date-time span {
    display: block;
    margin-bottom: 5px;
}

.date-time a {
    text-decoration: none;
    color: #555;
    margin: 0 5px;
}

.notifications {
    position: absolute;
    margin-right: 80%;
    font-size: 150%;
    padding: 0px 5px;
    text-align: center;
    color: #e1eaeb;
    cursor: pointer;
    border-left: 1px solid rgb(131, 175, 206);
    border-right: 1px solid rgb(131, 175, 206);
    top: 3%;
    transition: all 0.3s ease;
}

.notifications:hover {
    background-color: #196fc0;
}

.notification-body {
    position: absolute;
    width: 18%;
    font-size: auto;
    background-color: #10c09d;
    text-align: center;
    margin-right: 65%;
    top: 9%;
    z-index: 1;
    border: 1px solid #002649;
}

.message {
    color: #002649;
    text-decoration: none;
}

.show_all_msg {
    background-color: #09a3a3;
    color: white;
    cursor: pointer;
}

.show_all_msg:hover {
    text-decoration: underline;
}

.unread-count {
    font-size: 70%;
    text-shadow: 1px 1px 1px rgb(102, 70, 70);
    font-weight: bold;
}

.unread-messages {
    font-size: 70%;
    text-shadow: 1px 1px 1px rgb(102, 70, 70);
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: #09a3a3;
    text-align: right;
}

.appointments-table {
    border-collapse: collapse;
    width: 50%;
    position: absolute;
    text-align: center;
    margin-right: 85%;
    background-color: #09a3a3;
    padding: 1%;
    top: 40%;
    box-shadow: 5px 5px 5px rgb(93, 204, 224);
}

.appointments-table th,
.appointments-table td {
    border: 1px solid #38e2e2;
    padding: 8px;
    text-align: center;
}

.appointments-table th {
    background-color: #26b882;
}

.apps_count {
    position: absolute;
    margin-right: 85%;
    margin-top: 10%;
    font-weight: bold;
    width: 50%;
}

.conn-div {
    position: absolute;
    background-color: #10c09d;
    border-radius: 10px;
    padding: 3%;
    width: 30%;
    text-align: center;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 80%;
}

.conn,
.cancel {
    padding: 1%;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.conn {
    background-color: #26e02f;
    text-decoration: none;
    margin-left: 50%;
}

.cancel {
    background-color: rgb(221, 12, 12);
}

.conn:hover {
    background-color: #38cf3f;
}

.cancel:hover {
    background-color: rgb(195, 28, 28);
}

.pic {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-70%, -50%);
    opacity: 50%;
    width: 40%;
    height: auto;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .personal-info {
        width: auto;
        height: auto;
        opacity: 1;
    }
    .logout-btn {
        width: 40%;
    }
    .appointment-btn {
        position: absolute;
        width: 30%;
        height: 10vh;
        font-size: 100%;
        top: 12%;
        left: 10px;
        border-radius: 50%;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .date-time {
        position: absolute;
        width: 40%;
        margin: 0 auto;
        margin-right: 0;
        font-size: 70%;
        font-weight: bold;
        color: #333;
        background: none;
        padding: 10px 20px;
        text-align: right;
        left: 0;
        right: 0;
        top: 12%;
    }
    .date-time a {
        color: #555;
        margin: 0 5px;
    }
    .notification-body {
        width: 70%;
        margin-right: 27%;
        font-size: 110%;
    }
    thead {
        display: none;
    }
    .appointments-table {
        margin-right: 0%;
        position: relative;
        width: 80%;
        border: 0;
        box-shadow: none;
        background: none;
    }
    tr {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 1px solid #b9b8b8;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
    td:before {
        content: attr(data-label);
        flex: 1;
        font-weight: bold;
        right: 10px;
        text-align: right;
    }
    td:nth-of-type(1):before {
        content: "اسم الطبيب";
    }
    td:nth-of-type(2):before {
        content: "ساعة الموعد ";
    }
    td:nth-of-type(3):before {
        content: "الزمن المتبقي";
    }
    .apps_count {
        position: relative;
        font-size: 80%;
        text-align: right;
        margin: 0;
    }
    .pic {
        left: 50%;
        top: 23%;
        transform: translate(-50%, -50%);
        opacity: 15%;
        width: 100%;
    }
    .conn-div {
        width: 50%;
        margin-left: 80%;
        bottom: 25%
    }
}